# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\privateProject\leetcode-subject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
